// for navbar
body
  //padding-top: 60px
  margin-top: 60px
@media(max-width: 979px)
  body
    padding-top: 0px


.user-icon-small
  max-width: 48px
  max-height: 48px

.centered
  margin-left: auto
  margin-right: auto
