p.row
  form(ng-submit="postComment(newComment)")
    .form-group
      textarea.form-control(ng-model="newComment.body", rows="3")

    .form-group
      button.btn.btn-primary.btn-block(type="submit") Post


p.row
  .text-center(ng-show="comments.length == 0")
    em.text-muted No comment.

  ul.list-group
    li.list-group-item.clearfix(ng-repeat="comment in comments")
      p.col-xs-2(ng-class-odd="'pull-right'", ng-class-even="'pull-left'")
        img.img-responsive.user-icon-small.centered(src="images/yeoman.png", alt="{{comment.user.name}}")
        small.centered {{ comment.user.name }}

      pre.text-left.col-xs-10
        {{ comment.body }}
