p.row
  .text-center(ng-show="plan.date_proposals.length == 0")
    em.text-muted No date offer.

  ul.list-group
    li.list-group-item.clearfix(ng-repeat="dateProposal in plan.date_proposals")
      p
        {{ dateProposal.date | date:'MM-dd-yy' }}
      p
        | offered by {{ dateProposal.user.name }}
      p
        button.btn.btn-success(ng-show="!isSupported(dateProposal, currentUser)", ng-click="enable(dateProposal)") Available

