h3 Login with Social networks

.text-center
  a.btn(href="{{baseUrl}}/auth/login/facebook")
    .ls-icon-facebook.h1.color-facebook

  a.btn(href="{{baseUrl}}/auth/login/twitter")
    .ls-icon-twitter.h1.color-twitter
