a.btn.btn-block.btn-primary(href="{{ baseUrl }}/debug/login/0")
  | Login by test user

a.btn.btn-block.btn-primary(href="{{ baseUrl }}/auth/login/facebook")
  | Login by facebook

a.btn.btn-block.btn-primary(href="{{ baseUrl }}/auth/login/twitter")
  | Login by twitter
