h4.text-center
  {{ planSchedule.date | amDateFormat:formats.MOMENT_DATE }}

ul(ng-repeat="planScheduleAttendant in planScheduleAttendants")
  li
    {{ users[planScheduleAttendant.id].name }}

div(ng-show="!isOwner")
  button.btn.btn-block(ng-click="avail()")
    i.ls-icon-plus
    br
    | Available

div(ng-show="isOwner")
  button.btn.btn-block(ng-click="fix()")
    i.ls-icon-check
    br
    | Fix
