p.row
  form(ng-submit="postComment()")
    .form-group
      textarea.form-control(ng-model="newComment.body", rows="3")

    .form-group
      button.btn.btn-block(type="submit")
        i.ls-icon-plus
        br
        | Post


p.row
  .text-center.col-xs-12(ng-show="planComments.length == 0")
    em.text-muted No comment.

  ul.list-group
    li.list-group-item.clearfix(ng-repeat="planComment in planComments")
      p.col-xs-2(ng-class-odd="'pull-right'", ng-class-even="'pull-left'")
        img.img-responsive.user-icon-small.centered(src="{{users[planComment.user_id].profile_image_url}}", alt="{{users[planComment.user_id].name}}")
        small.centered {{ users[planComment.user_id].name }}

      pre.text-left.col-xs-10
        {{ planComment.body }}
