dl
  dt Description
  dd
    pre.plain {{ plan.description }}

  dt Date
  dd
    span(ng-show="plan.date")
      {{ plan.date | date:formats.DATE }}
    span(ng-show="!plan.date")
      em.text-muted Not fixed

  dt Number of Attendants
  dd {{ plan.attendants_count || 0 }}

  dt Number of Comments
  dd {{ plan.comments_count || 0 }}

div(ng-show="!isAttended")
  form(ng-submit="attend()")
    div(ng-show="!isAttended")
    button.btn.btn-block
      i.ls-icon-plus
      br
      | Attend

div(ng-show="isAttended")
  form(ng-submit="unattend()")
    div(ng-show="!isAttended")
    button.btn.btn-block
      i.ls-icon-remove
      br
      | Cancel to attend
