dl
  dt Description
  dd
    pre.plain {{ plan.description }}

  dt Date
  dd
    span(ng-show="plan.date")
      {{ plan.date | date:'MM-dd-yy' }}
    span(ng-show="!plan.date")
      em.text-muted Not fixed

  dt Number of Attendants
  dd {{ plan.attendants_count || 0 }}

  dt Number of Comments
  dd {{ plan.comments_count || 0 }}

form(ng-submit="attend()")
  button.btn.btn-block.btn-success
    i.ls-icon-plus
    br
    | Attend
