nav.navbar.navbar-default.navbar-fixed-top(ng-controller="NavbarCtrl", role="navigation")

  .navbar-header
    a.navbar-brand(href="#") Plan Mate
    button.navbar-toggle(type="button", ng-click="toggle()")
      span.icon-bar
      span.icon-bar
      span.icon-bar

  //.navbar-header.navbar-right
    p.navbar-text
      a.navbar-link(href="#") Username

  .navbar-collapse(ng-class="{collapse:isCollapsed, in:!isCollapsed}")
    ul.nav.navbar-nav
      //li(ng-class="{active:isActive('/')}")
      //  a(href="#/") Home
      li(ng-class="{active:isActive('/plans/7')}")
        a(href="#/plans/7") Plan Detail

      li(ng-class="{active:isActive('/account')}", ng-show="$storage.authentication.isLoggedIn")
        //TODO: Get username
        a(href="#/account") Test User

      // Login / Logout
      li(ng-class="{active:isActive('/auth')}", ng-show="!$storage.authentication.isLoggedIn")
        a(href="#/auth/login") Login
      li(ng-class="{active:isActive('/auth')}", ng-show="$storage.authentication.isLoggedIn")
        a(ng-click="logout()") Logout
