// tabs
ul.nav.nav-tabs
  li(ng-class="{active: $routeSegment.startsWith('plans-show.info')}")
    a(href="#/plans/{{plan.id}}") Info

  li(ng-class="{active: $routeSegment.startsWith('plans-show.schedules')}")
    a(href="#/plans/{{plan.id}}/schedules") Scheduling

  li(ng-class="{active: $routeSegment.startsWith('plans-show.comments')}")
    a(href="#/plans/{{plan.id}}/comments")
      | Comments &nbsp;
      span.badge {{ plan.comments_count }}

  li(ng-class="{active: $routeSegment.startsWith('plans-show.attendants')}")
    a(href="#/plans/{{plan.id}}/attendants")
      | Attendants &nbsp;
      span.badge {{ plan.attendants_count }}


.page-header
  h4 {{ plan.place_name }}

// main contents
.span(app-view-segment="1")
