.page-header
  h4 {{ plan.place_name }}

dl
  dt Description
  dd {{ plan.description }}

  dt Date
  dd {{ plan.date ? (plan.date|date:'MM-dd-yy') : '-' }}

  dt Attendants
  dd {{ plan.attendants_count }}

  dt Comments
  dd {{ plan.comments_count }}

button.btn.btn-block.btn-success(ng-click="plan.$attend()")
  i.ls-icon-plus
  br
  | Attend
